@import url("https://fonts.googleapis.com/css2?family=Advent+Pro&family=Orbitron:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro&family=Orbitron:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro&family=Orbitron:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro&family=Orbitron:wght@500&display=swap");
a,
abbr {
  text-decoration: none;
}

h1 {
  background-color: hsl(242, 78%, 37%);
  font-family: "Orbitron", sans-serif;
  color: hsl(180, 90%, 51%);
  font-size: 4rem;
  padding: 1rem 2.2rem;
}

h2 {
  padding: 5rem 2.2rem 3.6rem;
  font-size: 2.2rem;
  font-weight: 400;
  font-family: "Orbitron", sans-serif;
  color: hsl(180, 90%, 51%);
}

h3 {
  border-top: solid hsl(242, 78%, 37%);
  width: 90%;
  margin: auto;
  padding-block: 2rem;
  font-size: 2.2rem;
  color: hsl(180, 90%, 51%);
  font-family: "Orbitron", sans-serif;
  font-weight: 500;
}

.preamble p,
.explanation p,
.participation p,
.benefits p,
.requirements p {
  font-size: 1.4rem;
  margin-inline: 15%;
  padding: 1.5rem;
  color: hsl(242, 78%, 37%);
  background-color: white;
  font-family: "Advent Pro", sans-serif;
  font-weight: 600;
}

ul {
  margin-inline: 6rem;
  list-style: none;
}
ul li {
  margin: 1rem;
  font-size: 1.5rem;
  font-family: "Advent Pro", sans-serif;
  font-weight: bold;
}
ul li a {
  display: block;
  color: hsl(242, 78%, 37%);
}
ul li a + a {
  display: inline;
}

footer a {
  margin: 0.5rem;
  font-size: 1.5rem;
  font-family: "Orbitron", sans-serif;
  color: hsl(180, 90%, 51%);
}

.summary {
  margin-bottom: 3.5rem;
}
.summary p {
  font-size: 1.4rem;
  margin-inline: 15%;
  padding: 1.5rem;
  color: hsl(242, 78%, 37%);
  background-color: white;
  font-family: "Advent Pro", sans-serif;
  font-weight: 600;
}
.summary p + p {
  padding-block: 1rem;
}
.summary p + p a {
  font-weight: bold;
}

div.page-wrapper {
  margin-inline: auto;
  text-align: center;
  background-color: hsl(208, 94%, 49%);
}

.preamble {
  margin-bottom: 3.5rem;
}

footer {
  background-color: hsl(242, 78%, 37%);
  margin-block: 1.2rem;
  padding: 1.2rem;
}

.zen-resources ul .zen-translations a {
  padding-bottom: 5rem;
}

html,
body {
  height: 100%;
  width: 100%;
}

.main .explanation,
.main .participation,
.main .benefits,
.main .requirements {
  margin-bottom: 3.5rem;
}

.wrapper .design-selection,
.wrapper .design-archives,
.wrapper .zen-resources {
  margin-bottom: 3.5rem;
}

/* ----------------------------- MOBILE VERSION ----------------------*/
:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* ----------------------------- DESKTOP VERSION ----------------------*/
@media only screen and (min-width: 45rem) {
  .intro header {
    margin-bottom: 10rem;
    background-size: 80rem, 20rem;
    width: auto;
    height: 10rem;
    border: 0.2rem solid;
    background-image: url("pictures/Future-2.jpg");
  }
  .intro header h1 {
    background-image: linear-gradient(-135deg, white 0%, #CE048E 35%, #0785F2 67%, #1CECFF 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 5s linear infinite;
    font-size: 5rem;
    font-family: "Orbitron", sans-serif;
  }
  .intro header h2 {
    margin-top: 2rem;
    padding-right: 4rem;
    font-size: 3rem;
    text-align: right;
  }
  .intro .summary {
    margin: 16rem auto auto auto;
    border: 100px solid transparent;
    -o-border-image: url("https://images.unsplash.com/photo-1597589827703-f4b68eafa0ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2572&q=80") 25% round;
       border-image: url("https://images.unsplash.com/photo-1597589827703-f4b68eafa0ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2572&q=80") 25% round;
  }
  .preamble p,
  .explanation p,
  .participation p,
  .benefits p,
  .requirements p {
    border: 100px solid transparent;
    -o-border-image: url("https://images.unsplash.com/photo-1597589827703-f4b68eafa0ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2572&q=80") 25% round;
       border-image: url("https://images.unsplash.com/photo-1597589827703-f4b68eafa0ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2572&q=80") 25% round;
  }
  /*SEND H3 TO THE LEFT*/
  .preamble h3,
  .participation h3,
  .requirements h3 {
    text-align: left;
    font-size: 3rem;
  }
  /*SEND H3 TO THE RIGHT*/
  .explanation h3,
  .benefits h3 {
    text-align: right;
    font-size: 3rem;
  }
  @keyframes textclip {
    to {
      background-position: 100% center;
    }
  }
  .intro .summary p + p {
    padding-block: 1rem;
  }
  .intro .summary p + p a {
    font-weight: bold;
  }
  .intro .preamble {
    margin-bottom: 3.5rem;
  }
  .main .explanation,
  .main .participation,
  .main .benefits,
  .main .requirements {
    margin-bottom: 3.5rem;
  }
  .main footer {
    background-color: hsl(242, 78%, 37%);
    margin-block: 1.2rem;
    padding: 1.2rem;
  }
  .main footer a {
    margin: 0.5rem;
    font-size: 1.5rem;
    font-family: "Orbitron", sans-serif;
    color: hsl(180, 90%, 51%);
  }
  .sidebar h3.select {
    text-align: center;
    overflow: hidden;
  }
  .sidebar h3.archives {
    text-align: center;
    overflow: hidden;
  }
  .sidebar h3.resources {
    text-align: center;
    overflow: hidden;
  }
  .wrapper .design-selection,
  .wrapper .design-archives,
  .wrapper .zen-resources {
    margin-bottom: 3.5rem;
  }
  .wrapper ul {
    margin-inline: 6rem;
    list-style: none;
  }
  .wrapper ul li {
    margin: 1rem;
    font-size: 1.5rem;
    font-family: "Advent Pro", sans-serif;
    font-weight: bold;
  }
  .wrapper ul li a {
    display: block;
    color: hsl(242, 78%, 37%);
  }
  .wrapper ul li a + a {
    display: inline;
  }
  .wrapper .zen-resources ul .zen-translations a {
    padding-bottom: 5rem;
  }
}/*# sourceMappingURL=style.css.map */