//general imports
@use './general-styles/atoms';
@import './general-styles/molecules';
@import './general-styles/organisms';
@import './general-styles/variables.scss';


/* ----------------------------- MOBILE VERSION ----------------------*/


// --general rules--

:root {
    //1rem   = 10px
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}




/* ----------------------------- DESKTOP VERSION ----------------------*/

@media only screen and (min-width: 45rem) {

  a {
    color: #CE048E;
  }


  .intro header{
    margin-bottom: 10rem;
    background-size: 80rem, 20rem;
    width: auto;
    height: 10rem;
    border: 0.2rem solid;

    background-image: url("pictures/Future-2.jpg");
  }


  .intro header h1 {
    background-image: linear-gradient(
      -135deg,
      white 0%,
      #CE048E 35%,
      #0785F2 67%,
      #1CECFF 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 5s linear infinite;
    font-size: 5rem;
    font-family: $orbitron-font;
  }


  .intro header h2 {
    margin-top: -1rem;  //code to adjust the element position
    padding-right: 4rem;
    font-size: 3.5rem;
    text-align: right;
  }

  //all paragraphs and subtitle section
  h3 {
    border-top: none;
  }

  p {
    border-radius: 2rem 2rem 0 0;
    @include shadow;
  }

  p + p{ 
    border-radius: 0;
    @include shadow;
  }

  p:last-of-type {
    border-radius: 0 0 2rem 2rem;
    @include shadow;
  }

  .benefits p {
    border-radius: 2rem;
  }


  .summary p,
  .preamble p,
  .explanation p,
  .participation p,
  .benefits p,
  .requirements p {
   @include desktop-paragraph-style;
  }

 
    /*SEND H3 TO THE LEFT*/
    .preamble h3,
    .participation h3,
    .requirements h3 {
    text-align: left;
    font-size: $subheading-size;
    }

    /*SEND H3 TO THE RIGHT*/
    .explanation h3,
    .benefits h3 {
      text-align: right;
      font-size: $subheading-size;
    }

    @keyframes textclip {
      to {
        background-position: 100% center;
      }
    }


    .main .explanation,
    .main .participation,
    .main .benefits,
    .main .requirements {
      margin-bottom: 1.5rem;
    }

    
    .main footer {
      background-color: hsl(242deg, 78%, 37%);
      margin-block: 1.2rem;
      padding: 1.2rem;
    }
    .main footer a {
      margin: 0.5rem;
      font-size: 1.5rem;
      font-family: "Orbitron", sans-serif;
      color: hsl(180deg, 90%, 51%);
    }
    .sidebar h3.select {
      text-align: center;
      overflow: hidden;
      }
    .sidebar h3.archives {
      text-align: center;
      overflow: hidden;
      }
    .sidebar h3.resources {
    text-align: center;
      overflow: hidden;
      }
    .wrapper .design-selection,
    .wrapper .design-archives,
    .wrapper .zen-resources {
      margin-bottom: 3.5rem;
    }
    .wrapper ul {
      margin-inline: 6rem;
      list-style: none;
    }
    .wrapper ul li {
      margin: 1rem;
      font-size: 1.5rem;
      font-family: "Advent Pro", sans-serif;
      font-weight: bold;
    }
    .wrapper ul li a {
      display: block;
      color: hsl(242deg, 78%, 37%);
    }
    .wrapper ul li a + a {
      display: inline;
    }
    .wrapper .zen-resources ul .zen-translations a {
      padding-bottom: 5rem;
    }

}