//Header, footer, div classes: molecules
@import 'variables.scss';

    
//section .intro 
//summary class
.summary {
    margin-bottom: 3.5rem;

    p {
        @include paragraph-style();
    }

    p + p {
        padding-block: 1rem;
        a {
            font-weight: bold;
        }
    }
}  

div.page-wrapper {
    margin-inline: auto;
    text-align: center;
    background-color: $primary-color;
}

//preamble
.preamble {
    margin-bottom: 3.5rem;
}

footer { 
    background-color: $secondary-color;
    margin-block: 1.2rem;
    padding: 1.2rem;

}

.zen-resources ul .zen-translations a {
    padding-bottom: 5rem;
}