//fonts
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Orbitron:wght@500&display=swap');


$primary-color: hsl(208,94%,49%);
$secondary-color: hsl(242, 78%, 37%);
$title-color: hsl(180, 90%, 51%);
$paragraph-color:white;

// font-family: 'Orbitron', sans-serif;
// font-family: 'Advent Pro', sans-serif;
$orbitron-font:'Orbitron', sans-serif;
$advent-font:'Advent Pro', sans-serif;


//including mixins here
@mixin paragraph-style {
    font-size: 1.4rem;
    margin-inline: 15%;
    padding: 1.5rem;
    color: $secondary-color;
    background-color: $paragraph-color;
    font-family:$advent-font;
    font-weight: 600;
}

@mixin bottom-sections {
    margin-bottom: 3.5rem;
}